{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
         <div class="header">
            <a class="button" href="/students/create">Novo</a>
            <form action="/teachers" method="GET">
                <input 
                    type="text"
                    name="filter"
                    placeholder="Nome ou Email"
                    value="{{filter}}"
                    >
                <button type="submit">Filtrar</button>
            </form>
        </div>

        <table width="100%">
            <thead>
                
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Ano Escolar</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                
                {% for student in students %}
                <tr class="lines">
                    <td>
                        <span style="background-image: url({{student.avatar_url}})"></span>
                        {{student.name}}
                    </td>
                    <td>{{student.email}}</td>
                    {% if student.education_level == "EF5" %}
                          <td><span>5º Fundamental</span></td>
                    {% endif %}
                    {% if student.education_level == "EF56" %}
                          <td><span>6º Fundamental</span></td>
                    {% endif %}
                    {% if student.education_level == "EF7" %}
                          <td><span>7º Fundamental</span></td>
                    {% endif %}
                    {% if student.education_level == "EF8" %}
                          <td><span>8º Fundamental</span></td>
                    {% endif %}
                    {% if student.education_level == "EM1" %}
                          <td><span>1º Colegial</span></td>
                    {% endif %}
                    {% if student.education_level == "EM2" %}
                          <td><span>2º Colegial</span></td>
                    {% endif %}
                    {% if student.education_level == "EM3" %}
                          <td> <span>3º Colegial</span></td>
                    {% endif %}                        
                    <td><a href="/students/{{student.id}}">Ver</a></td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
         <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        >

        </div>
    </div>
    <script src="/scripts.js"></script>
{% endblock content %}
