{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" style= "background: url({{student.avatar_url}}) no-repeat center center /cover">
        </section>
        <section class="details">
            <h3>Estudante</h3>

            <div class="item">
                <div>Nome</div>
                <div>{{student.name}}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{student.age}}</div>
            </div>
            <div class="item">
                <div>Aniversário</div>
                <div>{{student.birthDay}}</div>
            </div>
            <div class="item">
            <div>Grade</div>
                <div>
                     {{student.grade}}                              
                </div>
            </div>
            <div class="item">
            <div>Aluno de</div>
                <div>
                     {{student.teacher_name}}                              
                </div>
            </div>
             <input type="hidden" name="id" value= {{student.id}}>
            <a href="/students/{{student.id}}/edit" class="button">Editar</a>
        </section>
    </div>
{% endblock content %}
