
            <div class="item">
                <div>Nome Completo</div>
                <div>
                    <input 
                        type="text" 
                        name="name"
                        placeholder="Nome completo"
                        value="{{teacher.name}}"
                     >
                </div>
            </div>
            <div class="item">
                <div>Avatar</div>
                <div>
                    <input 
                        type="url" 
                        name="avatar_url"
                        placeholder="http://" 
                        value="{{teacher.avatar_url}}"
                    >
                </div>
            </div>
            <div class="item">
                <div>Data nascimento</div>
                <div>
                    <input 
                        type="date" 
                        name="birth_date"
                        value="{{teacher.birth_date}}"
                       
                     >
                </div>
            </div>
             <div class="item">
                <div>Escolaridade</div>
                <div>
                      <select name="education_level">
                        <option 
                            value="highschool"
                            {% if teacher.education_level == "highschool" %}
                                selected
                            {% endif %}
                            >Ensino médio
                        </option>
                        <option 
                            value="university"
                            {% if teacher.education_level == "university" %}
                                selected
                            {% endif %}
                            >Ensino superior
                        </option>
                        <option 
                            value="master"
                            {% if teacher.education_level == "master" %}
                                selected
                            {% endif %}
                            >Mestrado
                        </option>
                        <option 
                            value="doctor"
                            {% if teacher.education_level == "doctor" %}
                                selected
                            {% endif %}
                            >Doutorado
                        </option>
                      </select>                    
                    
                </div>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <div>
                    <span>
                        <input 
                            type="radio" 
                            name="class_type"
                            value=presential
                            {% if teacher.class_type == 'presential' %}
                                checked
                            {% endif %}
                            >
                            Presencial
                    </span>
                    <span>
                        <input 
                            type="radio" 
                            name="class_type"
                            value="ead"
                            {% if teacher.class_type == 'ead' %}
                                checked
                            {% endif %}
                            >
                            EAD
                    </span>
                </div>
            </div>
            <div class="item">
                <div>Disciplinas</div>
                <div>
                    <input 
                        type="text" 
                        name="subjects_taught" 
                        placeholder="separar por virgula"
                        value ="{{teacher.subjects_taught}}"
                    >
                </div>
            </div>
            <button type="submit"> Salvar </button>